%p
  This is an app to help get a quick view of all the flights going into, or out of, a particular airport on a given day.

%p 
  To see all flights going into LGA for instance, you can simply navigate to: 
  %a{:href => "/arriving_to/lga"} /arriving_to/lga
%p
  To see all flights going out of LGA, try: 
  %a{:href => "/departing_from/lga"} /departing_from/lga
